	<div>
	<input ng-model="playlistSearch">
  	</div>
  	<div>{{playlistSearch}}</div>

	<div class="list-group-item" ng-repeat="playlist in playlists">
    <a>{{ playlist.name }}</a>
    </div>



  	<div class="well">
	  <form class="form-horizontal" name="newPlaylist" ng-submit="submitForm()">
	    <fieldset>
	      <legend>New Playlist</legend>
	      <div class="form-group">
	        <label class="col-xs-2 control-label">Name</label>
	        <div class="col-xs-10">
	          <input class="form-control" type="text" ng-model="nameModel.name" name="nameField" required ng-minlength=3>
	        </div>
	      </div>
	      <div class="form-group">
	        <div class="col-xs-10 col-xs-offset-2">
	          <button type="submit" class="btn btn-success" ng-disabled="newPlaylist.nameField.$invalid">Create Playlist</button>
	        </div>
	      </div>
	    </fieldset>
	    <div>
	    <!-- <span> 
	    {{newPlaylist.$submitted}} : {{nameModel | json}} is it valid? {{newPlaylist.nameField.$valid}}
	    </span> -->
	    <span ng-show="newPlaylist.$submitted"> 
	    Form has been submitted!
	    </span>
	    <div class="alert alert-warning" ng-show="newPlaylist.nameField.$invalid && newPlaylist.nameField.$dirty">Please enter a name</div>
	    </div>
	  </form>
	</div>
</div>